html
  head
    title Our Services - Gilmore Protection

    meta name="viewport" content="width=device-width, initial-scale=1"

    link rel="stylesheet" href="assets/stylesheets/css/application.css"
    link rel="stylesheet" href="assets/stylesheets/css/custom_style/gilmore-style.css"
    link href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;600;700&display=swap" rel="stylesheet"
    link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet"
    link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;600&display=swap" rel="stylesheet"

    script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    script src="assets/stylesheets/js/bootstrap.bundle.min.js"

  body
    header
      nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom
        a.navbar-brand.navbar-brand-custom href="index.html"
          img.nav-logo src="assets/images/company-logo/logo-kip.png"
        button.navbar-toggler aria-controls="navbarNavDropdown" aria-expanded="false" aria-label=("Toggle navigation") data-target="#navbarNavDropdown" data-toggle="collapse" type="button"
          span.navbar-toggler-icon.navbar-dark
        #navbarNavDropdown.collapse.navbar-collapse.justify-content-end
          ul.navbar-nav
            li.nav-item.text-center.mr-lg-2
              a.nav-link.nav-link-custom href="index.html"
                | Home
                span.sr-only (current)
            li.nav-item.text-center.mx-lg-2
              a.nav-link.nav-link-custom href="about-us.html" About Us
            li.nav-item.active.dropdown.text-center.mx-lg-2
              a#navbarDropdownMenuLink.nav-link.nav-link-custom.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#"
                | Our Services
              .dropdown-menu.text-center aria-labelledby="navbarDropdownMenuLink"
                a.dropdown-item href="kvsat-page.html" KVSAT (Kharisma VSAT)
                a.dropdown-item href="#" Gilmore Protection
                a.dropdown-item href="zam-page.html" ZAM
                a.dropdown-item href="kip-flazbit-page.html" KIP Flazbit
                a.dropdown-item href="satya-respaty-page.html" Satya Respaty
            li.nav-item.text-center.mx-lg-2
              a.nav-link.nav-link-custom href="our-experiences.html" Our Experiences
            li.nav-item.text-center.ml-lg-2
              a.nav-link.nav-link-custom href="contact-us.html" Contact Us
      .banner.banner-small
        .container
          .wrap-banner
            .banner-headline
              .col
                h1 Gilmore Protection
    section.definisi-gilmore
      .wrap-section
        .container
          .row.text-center
            .col-12
              h2.text-capitalize Lindungi produk anda dari pemalsuan
              .block.mt-3.mb-3
              p.mb-0 Gilmore Protection merupakan system keamanan QR Code yang bermanfaat bagi anda pemilik brand dan konsumen untuk mengidentifikasi keaslian produk serta menghentikan aktifitas pemalsuan.
    section.histori-gilmore-1.section-grey
      .wrap-section
        .container
          .row.align-items-center
            .col-8
              p
                | Perkembangan teknologi yang semakin canggih tidak menutup kemungkinan peluang kriminal akan semakin banyak terjadi dan salah satunya adalah pemalsuan produk. Selain dapat merugikan konsumen karena mendapatkan produk palsu, hal ini juga dapat merusak reputasi brand suatu produk.
                br
                br
                | Menurut PBB, pasar pemalsuan mencapai besaran 250 Milyar Dollar per tahun dan akan terus bertumbuh. Pemalsuan produk ini menjadi ancaman bagi setiap perusahaan karena dapat merusak pendapatan, mengganggu kestabilan perusahaan hingga akhirnya menentukan suatu perusahaan itu tetap berdiri atau tidak.
            .col-4
              img.image-gilmore-page src="assets/images/our-services-image/gilmore-image-1.jpg"
    section.histori-gilmore-2
      .wrap-section
        .container
          .row.align-items-center
            .col-4
              img.image-gilmore-page src="assets/images/our-services-image/gilmore-image-2.jpg"
            .col-8
              p
                | Di sisi lain, pemalsuan produk beresiko tinggi bagi para konsumen bahkan dapat berakibat fatal. Seperti kesehatan yang terganggu hingga menyebabkan kematian.
                br
                br
                | Meningkatnya kesadaran konsumen terhadap produk asli, mendorong para pemilik brand untuk membentuk sebuah system yang memastikan keaslian suatu produk.
                br
                br
                | Dengan berkembangnya teknologi saat ini, banyak teknologi yang dapat dilakukan untuk melawan pemalsuan produk tersebut. Salah satu solusi termudah dan termurah yang dapat dilakukan adalah dengan menggunakan system keamanan QR code pada produk. 
                b Gilmore Protection 
                | merupakan salah satu penyedianya. Menggunakan system keamanan QR Code bermanfaat bagi anda pemilik brand dan konsumen untuk mengidentifikasi keaslian produk serta menghentikan aktifitas pemalsuan.
    section.lapisan-gilmore.section-grey
      .wrap-section
        .container
          .row.text-center
            .col-12
              h2.text-capitalize Proteksi 5 Lapis Keamanan
              .block.mt-3.mb-3
              p.mb-0
                b Gilmore Protection 
                | berusaha untuk memberikan kenyamanan pada klien dengan memperhatikan tingkat keamanan. Kami memiliki tingkat keamanan tertinggi dalam kerangka kondisi yang disetujui untuk semua produk layanan dan solusi yang berkaitan dengan kami.
          .row.mt-4.justify-content-center
            .col-2.col-custom
            .col-6.col-custom
              h3 Keamanan Server
              p Server kami menggunakan perlindungan berlapis untuk manjaga kemanan data client dari serangan pihak yang hendak melakukan upaya eksploitasi.
            .col-2.col-custom
          .row.mt-2.justify-content-center
            .col-2.col-custom
            .col-6.col-custom
              h3 Kode Algoritma G-Pro
              p Menarapkan 3 lapis kode keamanan ; password, alphanumeric dan timestamp unix/milidetik). Seluruhnya digabungkan, dienkripsi dan disimpan dengan sangat teliti dan detail.
            .col-2.col-custom
          .row.mt-2.justify-content-center
            .col-2.col-custom
            .col-6.col-custom
              h3 Enkripsi Kode G-Pro
              p Dirancang dengan sistem kemanan yang tinggi, kode G-Pro dienkripsi dengan enkripsi MD5. Kode G-Pro hanya bisa dideskripsi oleh sistem kami sehingga membuatnya aman dari pemalsuan.
            .col-2.col-custom
          .row.mt-2.justify-content-center
            .col-2.col-custom
            .col-6.col-custom
              h3 Sentifitas Verifikasi QR
              p Untuk mengurangi penipuan dan duplikasi kode, kode G-Pro memiliki batasan pengecekan sampai 15 kali. Jika pengecekan telah mencapai limitnya tanpa adanya validasi, sistem akan secara otomatis memberhentikan kode tersebut.
            .col-2.col-custom
          .row.mt-2.justify-content-center
            .col-2.col-custom
            .col-6.col-custom
              h3 Pelepasan Label
              p Ini adalah cara sederhana lain untuk mengurangi penipuan duplikasi kode QR kami. Ketika kode terbuka, maka kode QR tidak bisa digunakan lagi dan dianggap tidak sah atau kadaluarsa.
            .col-2.col-custom
    section.free-consultation
      .wrap-section
        .container
          .row.align-items-center.justify-content-between
            .col-12.col-sm-8.col-lg-7.order-2.order-sm-1.order-lg-1.text-center.text-sm-left
              .wrap-free-consultation-headline
                .col
                  h2 Mari realisasikan rencana anda
                  p Beritahu kami dan biarkan kami membantu anda mengatur tindakan yang paling efektif dan efisien untuk kebutuhan bisnis anda.
                  button.btn.btn-custom onclick="window.location.href='contact-us.html'"
                    | Konsultasi Gratis
            .col-12.col-sm-auto.col-lg-auto.order-1.order-sm-2.order-lg-2.text-center.text-sm-left
              .wrap-free-consultation-image
                .col
                  img.free-consultation-image src="assets/images/color-filled-icon/free-consultation.png"
    footer
      .footer
        .wrap-footer
          .additional-footer
            .wrap-left-shape
              .rectangle
              / .parallelogram
              / .wrap-right-shape
              /   .parallelogram
              /   .rectangle
          .content-footer
            .container
              .wrap-section
                .col
                  .row.justify-content-between
                    .col-12.col-sm-12.col-lg-3.mb-5.mb-sm-5.mb-lg-0
                      .wrap-footer-profile
                        img.footer-logo src="assets/images/company-logo/logo-kip.png"
                        p.footer-profile-paragraph Perusahan Terbaik dan Handal di Bidang Layanan Teknologi Informasi.
                    .col-auto.col-sm-auto.col-lg-auto.mb-4.mb-sm-0
                      .wrap-footer-quick-links
                        h4 Quick Links
                        ul.quick-link-item
                          li
                            a href="about-us.html" About Us
                          li
                            a href="#" Our Services
                          li
                            a href="our-experiences.html" Our Experiences
                          li
                            a href="#" Terms of Service
                          li
                            a href="#" FAQ
                    .col-auto.col-sm-auto.col-lg-auto
                      .wrap-footer-contact-us
                        h4 Contact Us
                        ul.contact-us-item
                          li
                            img.contact-us-item-icon src="assets/images/icon/icon-location.png"
                            | Jl. Pasang No.22, Bandung
                          li
                            img.contact-us-item-icon src="assets/images/icon/icon-phone.png"
                            | (+62) 821-1916-0103
                          li
                            img.contact-us-item-icon src="assets/images/icon/icon-email.png"
                            | admin@ptkip.co.id
                    .col-12.col-sm-4.col-lg-3
                        .wrap-footer-social-media
                          h4 Social Media
                          p.footer-social-media-paragraph Ikuti sosial media kami untuk mengetahui informasi terbaru tentang kemajuan kami.
                          .row.justify-content-start
                            .col-auto
                              a href="https://instagram.com/helloptkip"
                                img.social-media-icon src="assets/images/social-media-icon/instagram.png"
                            .col-auto
                              a
                                img.social-media-icon src="assets/images/social-media-icon/facebook.png"
                            .col-auto
                              a
                                img.social-media-icon src="assets/images/social-media-icon/linkedin.png"
          .copyright
            .container-fluid
              .wrap-copyright
                .line
                p Copyright 2020 PT Kharisma Indotech Pratama. All Right Reserved.