html
  head
    title PT Kharisma Indotech Pratama

    meta name="viewport" content="width=device-width, initial-scale=1"

    link rel="stylesheet" href="assets/stylesheets/css/application.css"
    link rel="stylesheet" href="assets/stylesheets/css/custom_style/homepage-style.css"
    link href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;600;700&display=swap" rel="stylesheet"
    link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet"

    script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    script src="assets/stylesheets/js/bootstrap.bundle.min.js"

  body
    header
      nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom
        a.navbar-brand.navbar-brand-custom href="index.html"
          img.nav-logo src="assets/images/logo-kip.png"
        button.navbar-toggler aria-controls="navbarNavDropdown" aria-expanded="false" aria-label=("Toggle navigation") data-target="#navbarNavDropdown" data-toggle="collapse" type="button"
          span.navbar-toggler-icon.navbar-dark
        #navbarNavDropdown.collapse.navbar-collapse.justify-content-end
          ul.navbar-nav
            li.nav-item.active.text-center.mr-lg-2
              a.nav-link.nav-link-custom href="index.html"
                | Home
                span.sr-only (current)
            li.nav-item.text-center.mx-lg-2
              a.nav-link.nav-link-custom href="about-us.html" About Us
            li.nav-item.dropdown.text-center.mx-lg-2
              a#navbarDropdownMenuLink.nav-link.nav-link-custom.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#"
                | Our Services
              .dropdown-menu.text-center aria-labelledby="navbarDropdownMenuLink"
                a.dropdown-item href="our-services.html" Network Solution
                a.dropdown-item href="our-services.html" Software Development
                a.dropdown-item href="our-services.html" IT Security
                a.dropdown-item href="our-services.html" IT Management
            li.nav-item.text-center.mx-lg-2
              a.nav-link.nav-link-custom href="our-experiences.html" Our Experiences
            li.nav-item.text-center.ml-lg-2
              a.nav-link.nav-link-custom href="contact-us.html" Contact Us
      .banner.banner-big
        .container
          .row.justify-content-center.align-items-center.text-center.text-sm-left
            .col-12.col-sm.mb-5.mb-sm-0
              .banner-headline
                .col
                  h1
                    | Selamat Datang di
                    br
                    | PT Kharisma Indotech Pratama
                .col
                  p PT. Kharisma Indotech Pratama (KIP) merupakan penyedia layanan teknologi informasi. KIP menyediakan layanan-layanan yang berkualitas bagi pelanggan karena fleksibilitas dan kemampuannya dalam membantu pelanggan untuk mendapatkan perubahan yang signifikan dalam bidang Teknologi Informasi dan Komunikasi.
            .col-12.col-sm
              .banner-image
                .col
                  img.banner-image-custom src="assets/images/banner-illust.png"
    section.about-us
      .wrap-section
        .container
          .row.text-center
            .wrap-about-us-content
              .col-12
                | About Us
              .col-12
                h2 Integrated Services Management IT Solutions
              .col-12
                .block
              .col-12
                p Melalui pemahaman dan pengalamannya, KIP mampu untuk menganalisa kebutuhan dan tujuan pelanggan sebelum merekomendasikan solusi yang paling tepat, efektif dan efisien untuk kepentingan usaha pelanggan. Kami bertekad melakukan perubahan secara fundamental dan menyeluruh diseluruh ruang bisnis yang mencakup transformasi bisnis dan portofolio, transformasi infrastruktur dan sistem, transformasi organisasi dan sumber daya manusia serta transformasi budaya.
              .col-12
                button.btn.btn-custom onclick="window.location.href='about-us.html'"
                  | Read More
    section.our-services
      .wrap-section
        .container
          .row.justify-content-center
            .col-12.col-sm-12.col-lg-4.text-center.text-lg-left.mb-5.mb-lg-0
              h2 Our Services
            .col-12.col-sm-12.col-lg-8
              .card-deck
                .card.card-custom.mb-5.text-center.text-lg-left
                  img.card-img-top.img-services-custom src="assets/images/net-solution-icon.png"
                  .card-body.card-body-custom
                    h3 Network Solution
                    p Menganalisis dan memberikan solusi rekomendasi berdasarkan infrastuktur yang ada dan kebutuhan pelanggan.
                  .card-footer.card-footer-custom
                    button.btn.btn-custom onclick="window.location.href='network-solution.html'"
                      | Learn More
                .card.card-custom.mb-5.text-center.text-lg-left
                  img.card-img-top.img-services-custom src="assets/images/software-development-icon.png"
                  .card-body.card-body-custom
                    h3 Software Development
                    p Membuat dan mengembangankan aplikasi yang sistematis yang dapat mendukung pemenuhan kebutuhan pelanggan dalam menjalankan bisnisnya.
                  .card-footer.card-footer-custom
                    button.btn.btn-custom onclick="window.location.href='software-development.html'"
                      | Learn More
              .card-deck
                .card.card-custom.mb-5.mb-sm-0.text-center.text-lg-left
                  img.card-img-top.img-services-custom src="assets/images/it-security-icon.png"
                  .card-body.card-body-custom
                    h3 IT Security
                    p Menjaga keamanan data operasional perusahaan baik dari internal maupun eksternal.
                  .card-footer.card-footer-custom
                    button.btn.btn-custom onclick="window.location.href='it-security.html'"
                      | Learn More
                .card.card-custom.mb-5.mb-sm-0.text-center.text-lg-left
                  img.card-img-top.img-services-custom src="assets/images/it-management-icon.png"
                  .card-body.card-body-custom
                    h3 IT Management
                    p Mengelola kebutuhan operational IT pelanggan, mulai dari analisa kebutuhan sampai maintenance.
                  .card-footer.card-footer-custom
                    button.btn.btn-custom onclick="window.location.href='it-management.html'"
                      | Learn More
    section.our-experiences
      .wrap-section
        .container
          #carouselExampleCaptions.carousel.slide data-ride="carousel"
            ol.carousel-indicators
              li.active data-slide-to="0" data-target="#carouselExampleCaptions"
              li data-slide-to="1" data-target="#carouselExampleCaptions"
              li data-slide-to="2" data-target="#carouselExampleCaptions"
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100 alt="..." src="assets/images/image-experiences.jpg" /
                .carousel-caption.d-none.d-md-block
                  / h5 First slide label
                  / p Nulla vitae elit libero, a pharetra augue mollis interdum.
              .carousel-item
                img.d-block.w-100 alt="..." src="assets/images/image-experiences.jpg" /
                .carousel-caption.d-none.d-md-block
                  / h5 Second slide label
                  / p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .carousel-item
                img.d-block.w-100 alt="..." src="assets/images/image-experiences.jpg" /
                .carousel-caption.d-none.d-md-block
                  / h5 Third slide label
                  / p Praesent commodo cursus magna, vel scelerisque nisl consectetur.
            a.carousel-control-prev data-slide="prev" href="#carouselExampleCaptions" role="button"
              span.carousel-control-prev-icon aria-hidden="true"
              span.sr-only Previous
            a.carousel-control-next data-slide="next" href="#carouselExampleCaptions" role="button"
              span.carousel-control-next-icon aria-hidden="true"
              span.sr-only Next
    footer
      .footer
        .wrap-footer
          .additional-footer
              .wrap-left-shape
                .rectangle
                .parallelogram
              .wrap-right-shape
                .parallelogram
                .rectangle
          .content-footer
            .container
              .wrap-section
                .col
                  .row.justify-content-between
                    .col-12.col-sm-12.col-lg-3.mb-5.mb-sm-5
                      .wrap-footer-profile
                        img.footer-logo src="assets/images/logo-kip.png"
                        p.footer-profile-paragraph Perusahan Terbaik dan Handal di Bidang Layanan Teknologi Informasi.
                    .col-auto.col-sm-auto.col-lg-auto.mb-4
                      .wrap-footer-quick-links
                        | Quick Links
                        ul.quick-link-item
                          li
                            a href="about-us.html" About Us
                          li
                            a href=".our-services" Our Services
                          li
                            a href="our-experiences.html" Our Experiences
                          li
                            a href="#" Terms of Service
                          li
                            a href="#" FAQ
                    .col-auto.col-sm-auto.col-lg-auto.
                      .wrap-footer-contact-us
                        | Contact Us
                        ul.contact-us-item
                          li
                            img.contact-us-item-icon src="assets/images/icon-location.png"
                            | Jl. Pasang No.22, Bandung
                          li
                            img.contact-us-item-icon src="assets/images/icon-phone.png"
                            | (+62) 821-1916-0103
                          li
                            img.contact-us-item-icon src="assets/images/icon-email.png"
                            | admin@ptkip.co.id
                    .col-12.col-sm-4.col-lg-3
                        .wrap-footer-social-media
                          | Social Media
                          p.footer-social-media-paragraph Follow us on social media to find out the latest updates on our progress.
                          .row.justify-content-start
                            .col-auto
                              a href="https://instagram.com/helloptkip"
                                img.social-media-icon src="assets/images/instagram.png"
                            .col-auto
                              a
                                img.social-media-icon src="assets/images/facebook.png"
                            / .col-auto
                            /   a
                            /     img.social-media-icon src="assets/images/linkedin.png"
          .copyright
            .container-fluid
              .wrap-copyright
                .line
                p Copyright 2020 PT Kharisma Indotech Pratama. All Right Reserved.

