html
  head
    title Our Services - KVSAT

    meta name="viewport" content="width=device-width, initial-scale=1"

    link rel="stylesheet" href="assets/stylesheets/css/application.css"
    link rel="stylesheet" href="assets/stylesheets/css/custom_style/kvsat-style.css"
    link href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;600;700&display=swap" rel="stylesheet"
    link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet"
    link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;600&display=swap" rel="stylesheet"

    script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    script src="assets/stylesheets/js/bootstrap.bundle.min.js"

  body
    header
      nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom
        a.navbar-brand.navbar-brand-custom href="index.html"
          img.nav-logo src="assets/images/company-logo/logo-kip.png"
        button.navbar-toggler aria-controls="navbarNavDropdown" aria-expanded="false" aria-label=("Toggle navigation") data-target="#navbarNavDropdown" data-toggle="collapse" type="button"
          span.navbar-toggler-icon.navbar-dark
        #navbarNavDropdown.collapse.navbar-collapse.justify-content-end
          ul.navbar-nav
            li.nav-item.text-center.mr-lg-2
              a.nav-link.nav-link-custom href="index.html"
                | Home
                span.sr-only (current)
            li.nav-item.text-center.mx-lg-2
              a.nav-link.nav-link-custom href="about-us.html" About Us
            li.nav-item.active.dropdown.text-center.mx-lg-2
              a#navbarDropdownMenuLink.nav-link.nav-link-custom.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#"
                | Our Services
              .dropdown-menu.text-center aria-labelledby="navbarDropdownMenuLink"
                a.dropdown-item href="#" KVSAT (Kharisma VSAT)
                a.dropdown-item href="gilmore-page.html" Gilmore Protection
                a.dropdown-item href="zam-page.html" ZAM
                a.dropdown-item href="kip-flazbit-page.html" KIP Flazbit
                a.dropdown-item href="satya-respaty-page.html" Satya Respaty
            li.nav-item.text-center.mx-lg-2
              a.nav-link.nav-link-custom href="our-experiences.html" Our Experiences
            li.nav-item.text-center.ml-lg-2
              a.nav-link.nav-link-custom href="contact-us.html" Contact Us
      .banner.banner-small
        .container
          .wrap-banner
            .banner-headline
              .col
                h1
                  | KVSAT (Kharisma VSAT)
    section.kenapa-kvsat
      .wrap-section
        .container
          .row.text-center
            .col-12
              h2 Kenapa Harus KVSAT?
              .block.mt-3.mb-3
              p.mb-0 KVSat adalah solusi tepat bagi pelanggan yang membutuhkan koneksi yang stabil serta ingin membangun komunikasi dengan kantor-kantor cabangnya di berbagai pelosok daerah. Dan berikut 2 layanan kami :
    section.spsc-vsat.section-grey
      .wrap-section
        .container
          .row.align-items-center.justify-content-between
            .col-sm-12.col-lg-7.order-2.order-lg-1
              h3.mt-3.mt-sm-4.mt-lg-0 1. Kharisma SPSC VSAT
              p.spcs-vsat-paragraph Kharisma SCPC VSAT adalah solusi tepat untuk kebutuhan komunikasi data yang membutuhkan koneksi dengan dedicated bandwith, yaitu jaringan yang dikhususkan hanya untuk bisnis anda. Dimanapun kantor anda berada, teknologi Kharisma SCPC VSAT memastikan koordinasi dan komunikasi bagi bisnis anda yang stabil dan efektif.
              .row.keunggulan-spsc-vsat
                .col
                  h4 Keunggulan Produk :
                  ol
                    li
                      b Fitur Utama
                      p Point to Point (Private), dengan konfigurasi kedua sisi Antena VSAT yang ditetapkan di tempat pelanggan.
                    li
                      b Fitur Tambahan
                      p Video Conference & Internet.
                    li
                      b Spesifikasi
                      ul.ul-kvsat-custom
                        li Data rate at 64 Kbps - 2048 Kbps or more
                        li Clear channel configuration through where a communication protocol such as: Metro Ethernet, can run
                        li Full duplex configuration with modulation: QPSK/8PSK/8 APSK/16 QAM
                  h4 Paket Layanan :
                  ol
                    li SCPC VSAT Private
                    li Sea Star Private
                    li SCPC VSAT Teleport
                    li Sea Star Teleport
            .col-sm-12.col-lg-5.order-1.order-lg-2
              img.kvsat-image-portrait src="assets/images/our-services-image/spsc-image.jpg"
              img.kvsat-image-landscape src="assets/images/our-services-image/spsc-image-landscape.jpg"
    section.ip-vsat
      .wrap-section
        .container
          .row.align-items-center.justify-content-between
            .col-sm-12.col-lg-5
              img.kvsat-image-portrait src="assets/images/our-services-image/ip-image.jpg"
              img.kvsat-image-landscape src="assets/images/our-services-image/ip-image-landscape.jpg"
            .col-sm-12.col-lg-7
              h3.mt-4.mt-lg-0 2. Kharisma IP VSAT
              p.ip-vsat-paragraph Kharisma IP VSAT adalah solusi tepat untuk kebutuhan komunikasi data antar kantor cabang dengan memanfaatkan satelit. Solusi Lintasarta IP VSAT membantu perusahaan menjangkau cabang bisnisnya bahkan di lokasi terpencil sekalipun.
              .row.keunggulan-ip-vsat
                .col
                  h4 Keunggulan Produk :
                  ol
                    li
                      b Aplikasi Transaksional dan Interaktif
                      ul.ul-kvsat-custom
                        li Online communication among branches
                        li Hotel/flight reservation
                        li ATM (Automated Teller Machine)
                        li Low data traffic
                        li Voice over IP (VoIP)
                    li
                      b Aplikasi Remote Terminal / Telnet / Terminal Emulation dengan Sentralisasi Database
                      ul.ul-kvsat-custom
                        li Data entry
                        li Inventory control
                        li Payment point
                    li
                      b Web Surfing
                      ul.ul-kvsat-custom
                        li E-mail
                        li Instant messaging
                        li File Transfer Protocol (FTP)
                    li
                      b Aplikasi Remote dengan Download Besar
                      ul.ul-kvsat-custom
                        li Internet
                        li Distance-Learning
                  h4 Paket Layanan :
                  ol
                    li IP VSAT Low Traffic Priority
                    li IP VSAT Low Traffic Business
                    li IP VSAT Broadband Downstream &frac12
                    li IP VSAT Broadband Downstream &frac14
                    li IP VSAT Broadband Upstream
                    li IP VSAT Nomadic
    section.free-consultation.section-grey
      .wrap-section
        .container
          .row.align-items-center.justify-content-between
            .col-12.col-sm-8.col-lg-7.order-2.order-sm-1.order-lg-1.text-center.text-sm-left
              .wrap-free-consultation-headline
                .col
                  h2 Mari realisasi rencana anda
                  p Beritahu kami dan biarkan kami membantu anda mengatur tindakan yang paling efektif dan efisien untuk kebutuhan bisnis anda.
                  button.btn.btn-custom onclick="window.location.href='contact-us.html'"
                    | Konsultasi Gratis
            .col-12.col-sm-auto.col-lg-auto.order-1.order-sm-2.order-lg-2.text-center.text-sm-left
              .wrap-free-consultation-image
                .col
                  img.free-consultation-image src="assets/images/color-filled-icon/free-consultation.png"
    footer
      .footer
        .wrap-footer
          .additional-footer
            .wrap-left-shape
              .rectangle
              / .parallelogram
              / .wrap-right-shape
              /   .parallelogram
              /   .rectangle
          .content-footer
            .container
              .wrap-section
                .col
                  .row.justify-content-between
                    .col-12.col-sm-12.col-lg-3.mb-5.mb-sm-5.mb-lg-0
                      .wrap-footer-profile
                        a href="index.html"
                          img.footer-logo src="assets/images/company-logo/logo-kip.png"
                        p.footer-profile-paragraph Perusahan Terbaik dan Handal di Bidang Layanan Teknologi Informasi.
                    .col-auto.col-sm-auto.col-lg-auto.mb-4.mb-sm-0
                      .wrap-footer-quick-links
                        h4 Quick Links
                        ul.quick-link-item
                          li
                            a href="about-us.html" About Us
                          li
                            a href="#" Our Services
                          li
                            a href="our-experiences.html" Our Experiences
                          li
                            a href="#" Terms of Service
                          li
                            a href="#" FAQ
                    .col-auto.col-sm-auto.col-lg-auto
                      .wrap-footer-contact-us
                        h4 Contact Us
                        ul.contact-us-item
                          li
                            img.contact-us-item-icon src="assets/images/icon/icon-location.png"
                            | Jl. Pasang No.22, Bandung
                          li
                            img.contact-us-item-icon src="assets/images/icon/icon-phone.png"
                            | (+62) 821-1916-0103
                          li
                            img.contact-us-item-icon src="assets/images/icon/icon-email.png"
                            | admin@ptkip.co.id
                    .col-12.col-sm-4.col-lg-3
                        .wrap-footer-social-media
                          h4 Social Media
                          p.footer-social-media-paragraph Ikuti sosial media kami untuk mengetahui informasi terbaru tentang kemajuan kami.
                          .row.justify-content-start
                            .col-auto
                              a href="https://instagram.com/helloptkip"
                                img.social-media-icon src="assets/images/social-media-icon/instagram.png"
                            .col-auto
                              a
                                img.social-media-icon src="assets/images/social-media-icon/facebook.png"
                            .col-auto
                              a
                                img.social-media-icon src="assets/images/social-media-icon/linkedin.png"
          .copyright
            .container-fluid
              .wrap-copyright
                .line
                p Copyright 2020 PT Kharisma Indotech Pratama. All Right Reserved.