@import 'variable';

html{
  min-height: 100%;
  position: relative;
}


body{margin:0;}

// .container-full{display: flex;}

// .container-custom{
//   width: 1200px;
//   margin: 0 auto;
// }

h1,h2,h3{font-family: spartan,sans-serif;}

p,li,a,b,span{font-family: nunito,sans-serif;}

h1{
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;

  @media (min-width: $custom-sm) and (max-width: $custom-lg){
    font-size: 24px;
    line-height: 40px;
  }

  @media (max-width: $custom-sm){
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 0;
  }
}

h2{
  font-weight: 700;
  font-size: 32px;

  @media (min-width: $custom-sm) and (max-width: $custom-lg){
    font-size: 24px;
    line-height: 32px;
  }

  @media (max-width: $custom-sm){
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 0;
  }
}

h3{
  font-weight: 600;
  font-size: 24px;

  @media (min-width: $custom-sm) and (max-width: $custom-lg){
    font-size: 20px;
    line-height: 28px;
  }

  @media (max-width: $custom-sm){
    font-size: 16px;
    line-height: 32px;
  }
}

p{
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;

  @media(max-width: $custom-sm){
    font-size: 14px;
    line-height: 22px;
  }
}

li{
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;

  @media(max-width: $custom-sm){
    font-size: 14px;
    line-height: 22px;
  }
}

.section-grey{
  background-color:$section-grey;
}

header{
  background-color: $kip-blue;
  background: url('../../images/banner/QdGoEc.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;

  // nav{
  //   height: 95px;

  //   .navbar{
  //     display: flex;
  //     padding:0;
  //     flex-grow: 1;
  //     padding:20px 40px 0 40px;

  //     .wrap-navbar{
  //       display: flex;
  //       flex-grow: 1;
  //       justify-content: space-between;

  //       .nav-logo{
  //         height: 65px;
  //         img{height: 100%}
  //       }
  //       .nav-menu{
  //         display: flex;
  //         align-items:center;

  //         ul {
  //           display: flex;
  //           align-items: center;
  //           padding:0;
  //           margin:0;

  //           li{
  //             list-style-type: none;

  //             a{
  //               text-decoration: none;
  //               font-size: 16px;
  //               font-weight: 400;
  //               color: white;
  //               margin-left: 40px;
  //             }

  //             .dropdown-setting{
  //               background-color:transparent;
  //               border:0 transparent;

  //               &:focus{
  //                 background-color:#0053c1;
  //                 box-shadow: none;
  //               }
  //             }

  //             .item-setting{

  //               a{
  //                 margin-left: 0;
  //                 color:$kip-black;
  //               }
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }

  .navbar-custom{
    padding:20px 30px 0 30px;
  }

  .nav-logo{
    height: 65px;

    @media(max-width: $custom-sm){
      height: 50px;
    }
  }

  .nav-link-custom{
    color: #fdcb9e !important;
    font-size: 16px;
  }

  .banner{
  display: flex;
  align-items:center;
  }

  .banner-big{
    height: calc(100% - 95px);
    min-height: 576px;

    @media(max-width: $custom-sm){
      height: calc(100% - 80px)
    }
  }

  .banner-small{height: 300px;}
}

.wrap-section{
  padding: 100px 0;

  @media (min-width: $custom-sm) and (max-width: $custom-lg){
    padding:75px 0;
  }

  @media (max-width: $custom-sm){
    padding:50px 0;
  }
}

footer{
  bottom: 0;
  width: 100%;
  position:absolute;
  height: 0;

  .footer{

    .additional-footer{
      display: flex;
      justify-content: space-between;

      .wrap-left-shape{
        display: flex;
        height: 32px;
        width: 100%;

        .rectangle{
          background-color:$kip-blue;
          width: 25%;
          height: 32px;
        }

        .parallelogram{
          background-color:$kip-blue;
          width: 25%;
          height: 32px;
          border-top-right-radius: 3px;
          transform: skew(30deg);
          margin-left: -10px;
        }
      }

      .wrap-right-shape{
        display: flex;
        height: 32px;
        width: 100%;
        justify-content: flex-end;

        .parallelogram{
          background-color:$kip-blue;
          width: 25%;
          height: 32px;
          border-top-left-radius: 3px;
          transform: skew(-30deg);
          margin-right: -10px;
        }

        .rectangle{
          background-color:$kip-blue;
          width: 25%;
          height: 32px;
        }
      }
    }

    .content-footer{
      background-color:$kip-blue;

      .wrap-footer-profile{

        .footer-logo{
          height: 60px;
          margin-bottom: 24px;

          @media(max-width: $custom-sm){
            margin-bottom: 16px;
          }
        }

        .footer-profile-paragraph{
          color: white;
          margin:0
        }
      }

      .wrap-footer-quick-links{
        color: white;
        font-family: nunito,sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1;

        .quick-link-item{
          padding-left: 0;
          margin-top: 24px;

          @media(max-width: $custom-sm){
            margin-top: 16px;
          }

          li{
            list-style-type:none;
            font-size: 16px;
            text-transform: none;
            letter-spacing: 0;
            margin-bottom: 16px;

            @media(max-width: $custom-sm){
              font-size: 14px;
              margin-bottom: 8px;
            }

            a{
              text-decoration: none;
              color: white;
            }
          }
        }

        @media(max-width: $custom-sm){
          font-size: 14px;
        }
      }

      .wrap-footer-contact-us{
        color: white;
        font-family: nunito,sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1;

        .contact-us-item{
          padding-left: 0;
          margin-top: 24px;

          @media(max-width: $custom-sm){
            margin-bottom: 16px;
          }

          li{
            list-style-type:none;
            font-size: 16px;
            text-transform: none;
            letter-spacing: 0;
            margin-bottom: 16px;

            @media(max-width: $custom-sm){
              font-size: 14px;
            }

            .contact-us-item-icon{
              width: 25px;
              margin-right: 16px;

              @media(max-width: $custom-sm){
                width: 16px;
              }
            }
          }
        }

        @media(max-width: $custom-sm){
          font-size: 14px;
        }
      }

      .wrap-footer-social-media{
        color: white;
        font-family: nunito,sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1;

        .footer-social-media-paragraph{
          color: white;
          font-size: 16px;
          text-transform: none;
          letter-spacing: 0;
          margin-top: 24px;
          margin-bottom: 24px;

          @media(max-width: $custom-sm){
            margin-top: 16px;
            margin-bottom: 16px;
          }
        }

        .social-media-icon{
          height: 25px;
          margin-right: 16px;

          @media(max-width: $custom-sm){
            height: 16px;
          }
        }

        @media(max-width: $custom-sm){
          font-size: 14px;
        }
      }
    }

    .copyright{
      background-color:$kip-blue;
      padding:0 40px;

      .wrap-copyright{
        width: 100%;

        .line{
          border:1px solid white;
          background-color:white;
          text-align: center;
          opacity: 0.5;
        }

        p{
          color: white;
          text-align:center;
          padding:16px 0;
          margin-bottom: 0;
        }
      }
    }
  }
}

.wrap-button{
  display: flex;
  align-items:center;
}

.btn-custom{
  background-color: transparent;
  border:1px solid $kip-black;
  padding:10px 20px;

  &::after{
    margin-left: 8px;
    display:inline-block;
    content:"";
    width:10px;
    height:10px;
    background-image:url("../../images/icon/right-arrow.png");
    background-size:100%;
    background-repeat:no-repeat;
    vertical-align:middle;
  }

  &:hover{
    border:1px solid $kip-blue;
    color: $kip-blue;

    &::after{
      transition:0.3s;
      filter: hue-rotate(180deg);
      filter: brightness(8);
      animation-name: arrow-move;
      animation-duration:0.4s;
    }
  }
}

@keyframes arrow-move{
  0%    {background-position-x: 0px;}
  33%   {background-position-x: 10px;}
  66%   {background-position-x:-10px;opacity: 0;}
  100%  {background-position-x: 0px;opacity: 1;}
}

.input-custom{
  width: 100%;
  font-family: nunito,sans-serif;
  font-size: 16px;
}