@import 'variable';

html{
  min-height: 100%;
  position: relative;
}


body{margin:0;}

// .container-full{display: flex;}

// .container-custom{
//   width: 1200px;
//   margin: 0 auto;
// }

h1,h2,h3{font-family: spartan,sans-serif;}

p,li,a,b,span{font-family: nunito,sans-serif;}

h1{
  font-weight: 700;
  font-size: 40px;
}

h2{
  font-weight: 700;
  font-size: 32px;
}

h3{
  font-weight: 600;
  font-size: 24px;
}

p{
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

header{
  background-color: $kip-blue;

  nav{
    height: 95px;

    .navbar{
      display: flex;
      padding:0;
      flex-grow: 1;
      padding:20px 40px 0 40px;

      .wrap-navbar{
        display: flex;
        flex-grow: 1;
        justify-content: space-between;

        .nav-logo{
          height: 65px;
          img{height: 100%}
        }
        .nav-menu{
          display: flex;
          align-items:center;

          ul {
            display: flex;
            align-items: center;
            padding:0;
            margin:0;

            li{
              list-style-type: none;

              a{
                text-decoration: none;
                font-size: 16px;
                font-weight: 400;
                color: white;
                margin-left: 40px;
                opacity: 0.75;
              }

              a.selected{
                font-weight: 600;
                opacity: 1;
              }

              img{
                height: 8px;
                margin-left: 5px;
              }
            }
          }
        }
      }
    }
  }

  .banner{
  display: flex;
  align-items:center;
  }

  .banner-big{height: calc(100% - 95px);}

  .banner-small{height: 300px;}
}

.wrap-content{
  padding: 40px 0;
}

footer{
  bottom: 0;
  width: 100%;
  position:absolute;
  height: 0;

  .footer{

    .additional-footer{
      display: flex;
      justify-content: space-between;

      .wrap-left-shape{
        display: flex;
        height: 32px;
        width: 100%;

        .rectangle{
          background-color:$kip-blue;
          width: 25%;
          height: 32px;
        }

        .parallelogram{
          background-color:$kip-blue;
          width: 25%;
          height: 32px;
          border-top-right-radius: 3px;
          transform: skew(30deg);
          margin-left: -10px;
        }
      }

      .wrap-right-shape{
        display: flex;
        height: 32px;
        width: 100%;
        justify-content: flex-end;

        .parallelogram{
          background-color:$kip-blue;
          width: 25%;
          height: 32px;
          border-top-left-radius: 3px;
          transform: skew(-30deg);
          margin-right: -10px;
        }

        .rectangle{
          background-color:$kip-blue;
          width: 25%;
          height: 32px;
        }
      }
    }

    .main-footer{
      background-color:$kip-blue;
      padding: 100px 0;

      .footer-flex{
        display: flex;
        align-items:center;
        justify-content: space-between;
        align-items:flex-start;

        .footer-profile{
          width: 295px;

          img{
            height: 60px;
          }
          p{
            color: white;
            margin-top: 24px;
            margin-bottom: 0;
          }
        }

        .footer-quick-links{
          width: 120px;

          p{
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1;
            margin-top: 0;
            margin-bottom: 24px;
          }

          ul{
            padding-left: 0;
            margin:0;

            li{
              list-style-type:none;
              font-size: 16px;
              margin-bottom: 16px;

              a{
                text-decoration: none;
                color: white;
              }
            }
          }
        }

        .footer-contact-us{
          width: 230px;

          p{
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1;
            margin-top: 0;
            margin-bottom: 24px;
          }

          ul{
            padding-left:0;
            margin-top: 24px;
            margin-bottom: 0;

            li{
              list-style-type: none;
              font-size:16px;
              color: white;
            }

            li.location{

              .wrap-location{
                margin-bottom: 16px;
                font-family: nunito,sans-serif;
                font-size: 16px;
                font-weight: 300;
                display: flex;
                align-items:center;


                img{
                  background-color:$kip-yellow;
                  width: 25px;
                  height: 25px;
                  margin-right: 16px;
                }
              }
            }

            li.phone{

              .wrap-phone{
                margin-bottom: 16px;
                font-family: nunito,sans-serif;
                font-size: 16px;
                font-weight: 300;
                display: flex;
                align-items:center;


                img{
                  background-color:$kip-yellow;
                  width: 25px;
                  height: 25px;
                  margin-right: 16px;
                }
              }
            }

            li.email{

              .wrap-email{
                margin-bottom: 16px;
                font-family: nunito,sans-serif;
                font-size: 16px;
                font-weight: 300;
                display: flex;
                align-items:center;


                img{
                  background-color:$kip-yellow;
                  width: 25px;
                  height: 25px;
                  margin-right: 16px;
                }
              }
            }
          }
        }

        .footer-social-media{
          width: 270px;

          p.title{
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1;
            margin-top: 0;
            margin-bottom: 20px;
          }

          p.paragraph{
            color: white;
            margin-top:0;
            margin-bottom: 16px;
          }

          .wrap-social-media-icon{

            img.instagram-icon{
              background-color:$kip-yellow;
              height: 25px;
              width: 25px;
              margin-right: 16px;
            }

            img.facebook-icon{
              background-color:$kip-yellow;
              height: 25px;
              width: 25px;
              margin-right: 16px;
            }

            img.youtube-icon{
              background-color:$kip-yellow;
              height: 25px;
              width: 25px;
            }
          }
        }
      }
    }

    .copyright{
      background-color:$kip-blue;
      padding:0 40px;

      .wrap-copyright{
        width: 100%;

        .line{
          border:1px solid white;
          background-color:white;
          text-align: center;
          opacity: 0.5;
        }

        p{
          color: white;
          text-align:center;
          padding:16px 0;
          margin-bottom: 0;
        }
      }
    }
  }
}

.wrap-button{
  display: flex;
  align-items:center;
}