$kip-blue     : #1a73e8;
$kip-yellow   : #ffc844;
$kip-black    : #000d1e;
$section-grey : #f8f8f8;

// === Global Assets ===

body{margin:0;}

.container-full{display: flex;}

.container-custom{
  width: 1200px;
  margin: 0 auto;
}

h1,h2,h3{font-family: spartan,sans-serif;}

p,li,a,b,span{font-family: nunito,sans-serif;}

h1{
  font-weight: 700;
  font-size: 40px;
}

h2{
  font-weight: 700;
  font-size: 32px;
}

h3{
  font-weight: 600;
  font-size: 24px;
}

p{
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

// === End Global Assets ===


header{
  background-color: $kip-blue;

  nav{
    padding:20px 40px 20px 40px;

    .navbar{
      display: flex;
      flex-grow: 1;
      align-items: center;
      height: 65px;

      .wrap-navbar{
        display: flex;
        flex-grow: 1;
        justify-content: space-between;

        .nav-logo img{height: 65px;}

        .nav-menu{
          display: flex;
          align-items:center;

          ul {
            display: flex;
            align-items: center;
            padding:0;
            margin:0;

            li{
              list-style-type: none;

              a{
                text-decoration: none;
                font-size: 16px;
                font-weight: 400;
                color: white;
                margin-left: 40px;
                opacity: 0.75;
              }

              a.selected{
                font-weight: 600;
                opacity: 1;
              }

              img{
                height: 8px;
                margin-left: 5px;
              }
            }
          }
        }
      }
    }
  }

  .banner{
    padding:100px 0;

    .wrap-banner{
      display: flex;
      align-items:center;

      .banner-headline{
        width: 70%;

        h1{
          color: white;
          line-height: 56px;
          margin-top: 0;
          margin-bottom: 8px;
        }

        p{
          color: white;
          margin:0;
        }
      }

      .banner-image{
        width: 50%;
        display: flex;
        justify-content:flex-end;

        .image{
          background-color: $kip-yellow;
          height: 450px;
          width: 450px;
        }
      }
    }
  }
}

section{

  .about-us {
    padding:100px 0;

    .wrap-about-us-section{
      text-align: center;

      p.tag-about-us{
        color:$kip-black;
        text-transform: uppercase;
        text-align: center;
        margin-top: 0;
        margin-bottom: 8px;
      }

      .block{
        background-color:$kip-black;
        height: 1px;
        max-width: 50px;
        margin:0 auto;
      }

      h2{
        color: $kip-black;
        text-align: center;
        margin:32px 0 16px 0;
      }

      p{
        color: $kip-black;
        line-height: 32px;
        margin-top: 0;
        text-align:center;
        padding:0;
        margin-bottom: 16px;
      }

      button.read-more{
        height: 48px;
        background-color:white;
        padding:8px 16px;
        border:1px solid $kip-black;
        border-radius: 3px;

        .wrap-button{
          display: flex;
          align-items:center;

          b{
            font-size: 16px;
            color: $kip-black;
            font-weight: 400;
          }

          
          img{
            height: 8px;
            margin-left: 5px;
          }
        }
      }
    }
  }

  .our-services{
    background-color:$section-grey;
    padding:100px 0;

    .wrap-our-services-section{
      display: flex;
      align-items:flex-start;

      .title{
        width: 30%;

        h2{margin: 0;}
      }

      .list-services{
        width: 70%;

        .wrap-services{
          display: flex;
          flex-wrap: wrap;

          .service-1,.service-3{margin-right: 84px;}

          .service-1,.service-2{margin-bottom: 64px;}

          .service-1,.service-2,.service-3,.service-4{
            width: 45%;

            img.icon-service{
              background-color:$kip-yellow;
              height: 75px;
              width: 75px;
            }

            h3{margin:32px 0 16px 0;}

            p{
              margin-bottom: 16px;
              text-align: justify;
            }

            button.learn-more{
              height: 48px;
              background-color:$section-grey;
              padding:8px 16px;
              border:1px solid $kip-black;
              border-radius: 3px;

              .wrap-button{
                display: flex;
                align-items:center;

                b{
                  font-size: 16px;
                  color: $kip-black;
                  font-weight: 400;
                }
                
                img{
                  height: 8px;
                  margin-left: 5px;
                }
              }
            }
          }
        }
      }
    }
  }

  .our-experiences{
    padding:100px 0;

    .wrap-our-experiences-section{

        h2{
          text-align: center;
          margin-top: 0;
          margin-bottom: 64px;
        }

        .wrap-slider-image{
          display: flex;
          justify-content: space-between;
          align-items:center;

          a{

            img{width: 25px;}
          }


          .non-selected-image-left{
            background-color:$kip-yellow;
            height: 175px;
            width: 250px;
          }

          .selected-image{
            background-color:$kip-yellow;
            height: 350px;
            width: 500px; 
          }

          .non-selected-image-right{
            background-color:$kip-yellow;
            height: 175px;
            width: 250px;
          }
        }

      .description{
        width: 500px;
        text-align: center;
        margin: 0 auto;

        h3{
          margin-top: 32px;
          margin-bottom: 8px;
        }

        p{
          margin-top: 0px;
          margin-bottom: 16px;
        }

        button.see-all-experiences{
          height: 48px;
          background-color:white;
          padding:8px 16px;
          border:1px solid $kip-black;
          border-radius: 3px;
          margin: 0 auto;

          .wrap-button{
            display: flex;
            align-items:center;

            b{
              font-size: 16px;
              color: $kip-black;
              font-weight: 400;
            }
                  
            img{
              height: 8px;
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}

footer{

  .footer{

    .additional-footer{
      display: flex;
      justify-content: space-between;

      .wrap-left-shape{
        display: flex;
        height: 32px;
        width: 100%;

        .rectangle{
          background-color:$kip-blue;
          width: 25%;
          height: 32px;
        }

        .parallelogram{
          background-color:$kip-blue;
          width: 25%;
          height: 32px;
          border-top-right-radius: 3px;
          transform: skew(30deg);
          margin-left: -10px;
        }
      }

      .wrap-right-shape{
        display: flex;
        height: 32px;
        width: 100%;
        justify-content: flex-end;

        .parallelogram{
          background-color:$kip-blue;
          width: 25%;
          height: 32px;
          border-top-left-radius: 3px;
          transform: skew(-30deg);
          margin-right: -10px;
        }

        .rectangle{
          background-color:$kip-blue;
          width: 25%;
          height: 32px;
        }
      }
    }

    .main-footer{
      background-color:$kip-blue;
      padding: 100px 0;

      .container-custom{
        display: flex;
        align-items:center;
        justify-content: space-between;
        align-items:flex-start;

        .footer-profile{
          width: 295px;
          
          img{
            height: 60px;
          }
          p{
            color: white;
            margin-top: 24px;
            margin-bottom: 0;
          }
        }

        .footer-quick-links{
          width: 120px;

          p{
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1;
            margin-top: 0;
            margin-bottom: 24px;
          }

          ul{
            padding-left: 0;
            margin:0;

            li{
              list-style-type:none;
              font-size: 16px;
              margin-bottom: 16px;

              a{
                text-decoration: none;
                color: white;
              }
            }
          }
        }

        .footer-contact-us{
          width: 230px;

          p{
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1;
            margin-top: 0;
            margin-bottom: 24px;
          }

          ul{
            padding-left:0;
            margin-top: 24px;
            margin-bottom: 0;

            li{
              list-style-type: none;
              font-size:16px;
              color: white;
            }

            li.location{

              .wrap-location{
                margin-bottom: 16px;
                font-family: nunito,sans-serif;
                font-size: 16px;
                font-weight: 300;
                display: flex;
                align-items:center;


                img{
                  background-color:$kip-yellow;
                  width: 25px;
                  height: 25px;
                  margin-right: 16px;
                }
              }
            }

            li.phone{

              .wrap-phone{
                margin-bottom: 16px;
                font-family: nunito,sans-serif;
                font-size: 16px;
                font-weight: 300;
                display: flex;
                align-items:center;


                img{
                  background-color:$kip-yellow;
                  width: 25px;
                  height: 25px;
                  margin-right: 16px;
                }
              }
            }

            li.email{

              .wrap-email{
                margin-bottom: 16px;
                font-family: nunito,sans-serif;
                font-size: 16px;
                font-weight: 300;
                display: flex;
                align-items:center;


                img{
                  background-color:$kip-yellow;
                  width: 25px;
                  height: 25px;
                  margin-right: 16px;
                }
              }
            }
          }  
        }

        .footer-social-media{
          width: 270px;

          p.title{
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1;
            margin-top: 0;
            margin-bottom: 20px;
          }

          p.paragraph{
            color: white;
            margin-top:0;
            margin-bottom: 16px;
          }

          .wrap-social-media-icon{

            img.instagram-icon{
              background-color:$kip-yellow;
              height: 25px;
              width: 25px;
              margin-right: 16px;
            }

            img.facebook-icon{
              background-color:$kip-yellow;
              height: 25px;
              width: 25px;
              margin-right: 16px;
            }

            img.youtube-icon{
              background-color:$kip-yellow;
              height: 25px;
              width: 25px;
            }
          }
        }
      }
    }

    .copyright{
      background-color:$kip-blue;
      padding:0 40px;

      .wrap-copyright{
        width: 100%;

        .line{
          border:1px solid white;
          background-color:white;
          text-align: center;
          opacity: 0.5;
        }

        p{
          color: white;
          text-align:center;
          padding:16px 0;
        }
      }
    }
  }
}