.wrap-banner .banner-headline {
  width: 100%;
  text-align: center;
}
.wrap-banner .banner-headline h1 {
  color: white;
  margin-top: 0;
  margin-bottom: 8px;
}
.wrap-banner .banner-headline p {
  color: white;
  margin: 0;
}
@media (max-width: 576px) {
  .wrap-banner .banner-headline p {
    font-size: 14px;
  }
}

.wrap-visi-misi-image img {
  width: 100%;
}
@media (max-width: 576px) {
  .wrap-visi-misi-image .visi-misi-image-portrait {
    display: none;
  }
}
@media (min-width: 576px) {
  .wrap-visi-misi-image .visi-misi-image-landscape {
    display: none;
  }
}
@media (max-width: 576px) {
  .wrap-visi-misi-image .visi-misi-image-landscape {
    margin-bottom: 24px;
  }
}

.wrap-visi-misi-content h2 {
  margin-bottom: 16px;
}
@media (min-width: 576px) and (max-width: 992px) {
  .wrap-visi-misi-content h2 {
    margin-bottom: 8px;
  }
}
@media (max-width: 576px) {
  .wrap-visi-misi-content h2 {
    margin-bottom: 8px;
  }
}
.wrap-visi-misi-content ul {
  padding-left: 16px;
}
.wrap-visi-misi-content ul li {
  line-height: 24px;
  margin-bottom: 16px;
}
@media (min-width: 576px) and (max-width: 992px) {
  .wrap-visi-misi-content ul li {
    margin-bottom: 8px;
  }
}
@media (max-width: 576px) {
  .wrap-visi-misi-content ul li {
    margin-bottom: 4px;
  }
}
.wrap-visi-misi-content .wrap-visi {
  margin-bottom: 32px;
}
@media (min-width: 576px) and (max-width: 992px) {
  .wrap-visi-misi-content .wrap-visi {
    margin-bottom: 32px;
  }
}
@media (max-width: 576px) {
  .wrap-visi-misi-content .wrap-visi {
    margin-bottom: 24px;
  }
}

.keunggulan {
  background-color: #f8f8f8;
}
.keunggulan .wrap-headline-keunggulan {
  text-align: center;
}
.keunggulan .wrap-headline-keunggulan h2 {
  margin-top: 0;
  margin-bottom: 16px;
}
@media (min-width: 576px) and (max-width: 992px) {
  .keunggulan .wrap-headline-keunggulan h2 {
    margin-bottom: 8px;
  }
}
@media (max-width: 576px) {
  .keunggulan .wrap-headline-keunggulan h2 {
    margin-bottom: 8px;
  }
}
.keunggulan .wrap-headline-keunggulan p {
  margin-bottom: 0;
}
.keunggulan .wrap-semua-keunggulan {
  margin-top: 40px;
}
.keunggulan .wrap-semua-keunggulan .icon-keunggulan {
  height: 100px;
}
@media (max-width: 576px) {
  .keunggulan .wrap-semua-keunggulan .icon-keunggulan {
    height: 75px;
  }
}
.keunggulan .wrap-semua-keunggulan h3 {
  margin-top: 32px;
  margin-bottom: 16px;
}
@media (min-width: 576px) and (max-width: 992px) {
  .keunggulan .wrap-semua-keunggulan h3 {
    margin-top: 24px;
    margin-bottom: 8px;
  }
}
@media (max-width: 576px) {
  .keunggulan .wrap-semua-keunggulan h3 {
    margin-top: 16px;
    margin-bottom: 0;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .keunggulan .wrap-semua-keunggulan {
    margin-top: 32px;
  }
}
@media (max-width: 576px) {
  .keunggulan .wrap-semua-keunggulan {
    margin-top: 32px;
  }
}

.wrap-newsletter {
  text-align: center;
}
.wrap-newsletter .newsletter-image {
  width: 100px;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .wrap-newsletter .newsletter-image {
    width: 75px;
  }
}
.wrap-newsletter h2 {
  margin-top: 32px;
  margin-bottom: 16px;
}
@media (min-width: 576px) and (max-width: 992px) {
  .wrap-newsletter h2 {
    margin-top: 24px;
    margin-bottom: 12px;
  }
}
@media (max-width: 576px) {
  .wrap-newsletter h2 {
    margin-top: 16px;
    margin-bottom: 8px;
  }
}
.wrap-newsletter p {
  margin: 0 auto;
  margin-bottom: 16px;
}
.wrap-newsletter .wrap-subscribe-submit .input-subscribe-custom {
  display: inline-block;
  width: 25%;
  margin-right: 16px;
}
@media (min-width: 576px) and (max-width: 992px) {
  .wrap-newsletter .wrap-subscribe-submit .input-subscribe-custom {
    width: 40%;
  }
}
@media (max-width: 576px) {
  .wrap-newsletter .wrap-subscribe-submit .input-subscribe-custom {
    display: block;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 16px;
  }
}
.wrap-newsletter .wrap-subscribe-submit .btn-subscribe-custom {
  font-family: nunito, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1;
}