header {
  background-color: #1a73e8;
  background: url("../../../images/our-services-image/gilmore-images/banner-gilmore.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
header .wrap-banner .banner-headline {
  width: 100%;
  text-align: center;
}
header .wrap-banner .banner-headline h1 {
  color: white;
  margin-top: 0;
  margin-bottom: 8px;
}
header .wrap-banner .banner-headline p {
  color: white;
  margin: 0;
}
@media (max-width: 576px) {
  header .wrap-banner .banner-headline p {
    font-size: 14px;
  }
}

.image-gilmore-page-portrait {
  max-width: 100%;
}
@media (max-width: 576px) {
  .image-gilmore-page-portrait {
    display: none;
  }
}

.image-gilmore-page-landscape {
  max-width: 100%;
}
@media (min-width: 576px) {
  .image-gilmore-page-landscape {
    display: none;
  }
}

.row-custom {
  padding: 24px 0;
}
.row-custom h3, .row-custom p {
  color: white;
}
.row-custom .lapisan-gilmore-icon {
  max-width: 60px;
}
@media (max-width: 576px) {
  .row-custom .lapisan-gilmore-icon {
    max-width: 50px;
  }
}

.row-custom-1 {
  background-color: #023e8a;
}

.row-custom-2 {
  background-color: #1a73e8;
}

.row-custom-3 {
  background-color: #0077b6;
}

.row-custom-4 {
  background-color: #0096c7;
}

.row-custom-5 {
  background-color: #00b4d8;
}

.free-consultation .wrap-free-consultation-headline h2 {
  margin-top: 0;
  margin-bottom: 16px;
}
@media (max-width: 576px) {
  .free-consultation .wrap-free-consultation-headline h2 {
    margin-top: 16px;
    margin-bottom: 8px;
  }
}
.free-consultation .wrap-free-consultation-headline p {
  margin-top: 0;
  margin-bottom: 16px;
}
.free-consultation .wrap-free-consultation-image img {
  height: 250px;
}
@media (min-width: 576px) and (max-width: 992px) {
  .free-consultation .wrap-free-consultation-image img {
    height: 150px;
  }
}
@media (max-width: 576px) {
  .free-consultation .wrap-free-consultation-image img {
    height: 100px;
  }
}

.additional-footer {
  background-color: #f8f8f8;
}