.nav-link-custom {
  color: #fdcb9e !important;
}

.banner-headline h1 {
  color: #85d9dd;
  margin-top: 0;
  margin-bottom: 8px;
}
@media (max-width: 576px) {
  .banner-headline h1 {
    line-height: 40px;
  }
}
.banner-headline p {
  color: white;
  margin: 0;
}

.banner-image-custom {
  width: 100%;
}

.wrap-about-us-content {
  color: #000d1e;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 8px;
}
.wrap-about-us-content h2 {
  margin: 16px 0;
  text-transform: none;
}
.wrap-about-us-content p {
  text-transform: none;
  line-height: 32px;
  margin-top: 16px;
  padding: 0;
  margin-bottom: 16px;
}

#our-services {
  background-color: #f8f8f8;
}
#our-services .card-custom {
  border: none;
  background-color: transparent;
}
#our-services .card-body-custom {
  padding: 0.5rem;
}
#our-services .card-body-custom .p-services {
  margin-bottom: 16px;
}
#our-services .card-footer-custom {
  border: none;
  background-color: transparent;
  padding: 0 0.5rem;
}
#our-services h3 {
  margin-top: 24px;
  margin-bottom: 8px;
}
#our-services .img-services-custom {
  width: 75px;
  margin: 0 0.5rem;
}
@media (min-width: 576px) and (max-width: 992px) {
  #our-services .img-services-custom {
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  #our-services .img-services-custom {
    margin: 0 auto;
  }
}

.carousel-custom h3 {
  text-shadow: 0 3px 6px black;
}
.carousel-custom p {
  text-shadow: 0 3px 6px black;
}