.banner-headline h1 {
  color: white;
  line-height: 56px;
  margin-top: 0;
  margin-bottom: 8px;
}
@media (max-width: 576px) {
  .banner-headline h1 {
    line-height: 40px;
  }
}
.banner-headline p {
  color: white;
  margin: 0;
}

.banner-image-custom {
  width: 100%;
}

.wrap-about-us-content {
  color: #000d1e;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 8px;
}
.wrap-about-us-content .block {
  background-color: #000d1e;
  height: 1px;
  max-width: 50px;
  margin: 0 auto;
}
.wrap-about-us-content h2 {
  margin: 16px 0;
  text-transform: none;
}
.wrap-about-us-content p {
  text-transform: none;
  line-height: 32px;
  margin-top: 16px;
  padding: 0;
  margin-bottom: 16px;
}

.our-services {
  background-color: #f8f8f8;
}
.our-services h3 {
  margin-top: 24px;
  margin-bottom: 8px;
}
.our-services .icon-service {
  height: 75px;
}

.wrap-our-experiences-section h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 64px;
}
.wrap-our-experiences-section .wrap-slider-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap-our-experiences-section .wrap-slider-image a img {
  width: 25px;
}
.wrap-our-experiences-section .wrap-slider-image img.non-selected {
  height: 175px;
  width: 250px;
}
.wrap-our-experiences-section .wrap-slider-image img.selected {
  height: 350px;
  width: 500px;
}
.wrap-our-experiences-section .description {
  width: 500px;
  text-align: center;
  margin: 0 auto;
}
.wrap-our-experiences-section .description h3 {
  margin-top: 32px;
  margin-bottom: 8px;
}
.wrap-our-experiences-section .description p {
  margin-top: 0px;
  margin-bottom: 16px;
}
.wrap-our-experiences-section .description button.see-all-experiences {
  height: 48px;
  background-color: white;
  padding: 8px 16px;
  border: 1px solid #000d1e;
  border-radius: 3px;
  margin: 0 auto;
}
.wrap-our-experiences-section .description button.see-all-experiences .wrap-button {
  display: flex;
  align-items: center;
}
.wrap-our-experiences-section .description button.see-all-experiences .wrap-button b {
  font-size: 16px;
  color: #000d1e;
  font-weight: 400;
}
.wrap-our-experiences-section .description button.see-all-experiences .wrap-button img {
  height: 8px;
  margin-left: 5px;
}