header {
  background-color: #1a73e8;
  background: url("../../../images/our-services-image/banner-kvsat.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
header .wrap-banner .banner-headline {
  width: 100%;
  text-align: center;
}
header .wrap-banner .banner-headline h1 {
  color: white;
  margin-top: 0;
  margin-bottom: 8px;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.5);
}
header .wrap-banner .banner-headline p {
  color: white;
  margin: 0;
}
@media (max-width: 576px) {
  header .wrap-banner .banner-headline p {
    font-size: 14px;
  }
}

.wrap-prolog-image img {
  width: 100%;
}
@media (max-width: 576px) {
  .wrap-prolog-image .prolog-image-portrait {
    display: none;
  }
}
@media (min-width: 576px) {
  .wrap-prolog-image .prolog-image-landscape {
    display: none;
  }
}
@media (max-width: 576px) {
  .wrap-prolog-image .prolog-image-landscape {
    margin-bottom: 24px;
  }
}

.wrap-prolog-content h2 {
  margin-bottom: 16px;
}
@media (min-width: 576px) and (max-width: 992px) {
  .wrap-prolog-content h2 {
    margin-bottom: 8px;
  }
}
@media (max-width: 576px) {
  .wrap-prolog-content h2 {
    margin-bottom: 8px;
  }
}
.wrap-prolog-content ul {
  padding-left: 20px;
}
.wrap-prolog-content ul li {
  line-height: 24px;
  margin-bottom: 16px;
}
@media (min-width: 576px) and (max-width: 992px) {
  .wrap-prolog-content ul li {
    margin-bottom: 8px;
  }
}
@media (max-width: 576px) {
  .wrap-prolog-content ul li {
    margin-bottom: 4px;
  }
}

.wrap-headline-keunggulan {
  text-align: center;
}
.wrap-headline-keunggulan h2 {
  margin-top: 0;
  margin-bottom: 16px;
}
@media (min-width: 576px) and (max-width: 992px) {
  .wrap-headline-keunggulan h2 {
    margin-bottom: 8px;
  }
}
@media (max-width: 576px) {
  .wrap-headline-keunggulan h2 {
    margin-bottom: 8px;
  }
}
.wrap-headline-keunggulan p {
  margin-bottom: 0;
}

.wrap-semua-keunggulan {
  margin-top: 40px;
}
.wrap-semua-keunggulan .icon-keunggulan {
  height: 100px;
}
@media (max-width: 576px) {
  .wrap-semua-keunggulan .icon-keunggulan {
    height: 75px;
  }
}
.wrap-semua-keunggulan h3 {
  margin-top: 32px;
  margin-bottom: 16px;
}
@media (min-width: 576px) and (max-width: 992px) {
  .wrap-semua-keunggulan h3 {
    margin-top: 24px;
    margin-bottom: 8px;
  }
}
@media (max-width: 576px) {
  .wrap-semua-keunggulan h3 {
    margin-top: 16px;
    margin-bottom: 0;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .wrap-semua-keunggulan {
    margin-top: 32px;
  }
}
@media (max-width: 576px) {
  .wrap-semua-keunggulan {
    margin-top: 32px;
  }
}

.free-consultation .wrap-free-consultation-headline h2 {
  margin-top: 0;
  margin-bottom: 16px;
}
@media (max-width: 576px) {
  .free-consultation .wrap-free-consultation-headline h2 {
    margin-top: 16px;
    margin-bottom: 8px;
  }
}
.free-consultation .wrap-free-consultation-headline p {
  margin-top: 0;
  margin-bottom: 16px;
}
.free-consultation .wrap-free-consultation-image img {
  height: 250px;
}
@media (min-width: 576px) and (max-width: 992px) {
  .free-consultation .wrap-free-consultation-image img {
    height: 150px;
  }
}
@media (max-width: 576px) {
  .free-consultation .wrap-free-consultation-image img {
    height: 100px;
  }
}

.additional-footer {
  background-color: #f8f8f8;
}