header {
  background-color: #1a73e8;
  background: url("../../../images/our-services-image/banner-kvsat.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
header .wrap-banner .banner-headline {
  width: 100%;
  text-align: center;
}
header .wrap-banner .banner-headline h1 {
  color: white;
  margin-top: 0;
  margin-bottom: 8px;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.2);
}
header .wrap-banner .banner-headline p {
  color: white;
  margin: 0;
}
@media (max-width: 576px) {
  header .wrap-banner .banner-headline p {
    font-size: 14px;
  }
}

.spcs-vsat-paragraph, .ip-vsat-paragraph {
  padding-left: 24px;
  padding-bottom: 24px;
}
@media (min-width: 992px) {
  .spcs-vsat-paragraph, .ip-vsat-paragraph {
    padding-left: 27px;
  }
}
@media (max-width: 576px) {
  .spcs-vsat-paragraph, .ip-vsat-paragraph {
    padding-left: 18px;
  }
}

.keunggulan-spsc-vsat, .keunggulan-ip-vsat {
  padding-left: 24px;
}
@media (min-width: 992px) {
  .keunggulan-spsc-vsat, .keunggulan-ip-vsat {
    padding-left: 27px;
  }
}
@media (max-width: 576px) {
  .keunggulan-spsc-vsat, .keunggulan-ip-vsat {
    padding-left: 18px;
  }
}
@media (max-width: 576px) {
  .keunggulan-spsc-vsat ol, .keunggulan-spsc-vsat ul, .keunggulan-ip-vsat ol, .keunggulan-ip-vsat ul {
    padding-left: 24px;
  }
}

.kvsat-image-portrait {
  max-width: 100%;
}
@media (max-width: 992px) {
  .kvsat-image-portrait {
    display: none;
  }
}

.kvsat-image-landscape {
  max-width: 100%;
}
@media (min-width: 992px) {
  .kvsat-image-landscape {
    display: none;
  }
}
@media (max-width: 576px) {
  .kvsat-image-landscape {
    max-height: 300px;
  }
}

.ul-kvsat-custom {
  padding-left: 20px;
}

.free-consultation .wrap-free-consultation-headline h2 {
  margin-top: 0;
  margin-bottom: 16px;
}
@media (max-width: 576px) {
  .free-consultation .wrap-free-consultation-headline h2 {
    margin-top: 16px;
    margin-bottom: 8px;
  }
}
.free-consultation .wrap-free-consultation-headline p {
  margin-top: 0;
  margin-bottom: 16px;
}
.free-consultation .wrap-free-consultation-image img {
  height: 250px;
}
@media (min-width: 576px) and (max-width: 992px) {
  .free-consultation .wrap-free-consultation-image img {
    height: 150px;
  }
}
@media (max-width: 576px) {
  .free-consultation .wrap-free-consultation-image img {
    height: 100px;
  }
}

.additional-footer {
  background-color: #f8f8f8;
}