.wrap-banner .banner-headline {
  width: 100%;
  text-align: center;
}
.wrap-banner .banner-headline h1 {
  color: white;
  line-height: 56px;
  margin-top: 0;
  margin-bottom: 8px;
}
.wrap-banner .banner-headline p {
  color: white;
  width: 80%;
  margin: 0 auto;
}

section .prolog {
  padding: 100px 0;
}
section .prolog .prolog-section {
  display: flex;
  align-items: center;
}
section .prolog .prolog-section .prolog-headline {
  width: 50%;
}
section .prolog .prolog-section .prolog-headline h2 {
  margin-top: 0;
  margin-bottom: 24px;
}
section .prolog .prolog-section .prolog-headline p {
  margin: 0;
  text-align: justify;
}
section .prolog .prolog-section .prolog-image {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
section .prolog .prolog-section .prolog-image .image {
  background-color: #ffc844;
  height: 650px;
  width: 500px;
}
section .list-apps {
  padding: 100px 0;
  background-color: #f8f8f8;
}
section .list-apps .wrap-list-apps-section {
  text-align: center;
}
section .list-apps .wrap-list-apps-section h2 {
  margin-top: 0;
  margin-bottom: 16px;
}
section .list-apps .wrap-list-apps-section p {
  margin: 0 auto;
  width: 80%;
}
section .list-apps .wrap-list-apps-section .wrap-semua-apps {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}
section .list-apps .wrap-list-apps-section .wrap-semua-apps .apps-1, section .list-apps .wrap-list-apps-section .wrap-semua-apps .apps-2, section .list-apps .wrap-list-apps-section .wrap-semua-apps .apps-3 {
  width: 30%;
  text-align: center;
}
section .list-apps .wrap-list-apps-section .wrap-semua-apps .apps-1 .image, section .list-apps .wrap-list-apps-section .wrap-semua-apps .apps-2 .image, section .list-apps .wrap-list-apps-section .wrap-semua-apps .apps-3 .image {
  background-color: #ffc844;
  height: 100px;
  width: 100px;
  margin: 0 auto;
}
section .list-apps .wrap-list-apps-section .wrap-semua-apps .apps-1 h3, section .list-apps .wrap-list-apps-section .wrap-semua-apps .apps-2 h3, section .list-apps .wrap-list-apps-section .wrap-semua-apps .apps-3 h3 {
  margin: 32px 0 16px 0;
}
section .free-consultation {
  padding: 100px 0;
}
section .wrap-free-consultation-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .wrap-free-consultation-section .wrap-headline {
  width: 50%;
}
section .wrap-free-consultation-section .wrap-headline h2 {
  margin-top: 0;
  margin-bottom: 16px;
}
section .wrap-free-consultation-section .wrap-headline p {
  margin-top: 0;
  margin-bottom: 16px;
}
section .wrap-free-consultation-section .wrap-headline button.free-consultation {
  height: 48px;
  background-color: #1a73e8;
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  margin: 0 auto;
}
section .wrap-free-consultation-section .wrap-headline button.free-consultation .wrap-button {
  display: flex;
  align-items: center;
}
section .wrap-free-consultation-section .wrap-headline button.free-consultation .wrap-button b {
  font-size: 16px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}
section .wrap-free-consultation-section .wrap-headline button.free-consultation .wrap-button img {
  height: 8px;
  margin-left: 5px;
  color: white;
}
section .wrap-free-consultation-section .wrap-image .image {
  background-color: #ffc844;
  height: 250px;
  width: 250px;
}

footer .footer .additional-footer {
  display: flex;
  justify-content: space-between;
}
footer .footer .additional-footer .wrap-left-shape {
  display: flex;
  height: 32px;
  width: 100%;
}
footer .footer .additional-footer .wrap-left-shape .rectangle {
  background-color: #1a73e8;
  width: 25%;
  height: 32px;
}
footer .footer .additional-footer .wrap-left-shape .parallelogram {
  background-color: #1a73e8;
  width: 25%;
  height: 32px;
  border-top-right-radius: 3px;
  transform: skew(30deg);
  margin-left: -10px;
}
footer .footer .additional-footer .wrap-right-shape {
  display: flex;
  height: 32px;
  width: 100%;
  justify-content: flex-end;
}
footer .footer .additional-footer .wrap-right-shape .parallelogram {
  background-color: #1a73e8;
  width: 25%;
  height: 32px;
  border-top-left-radius: 3px;
  transform: skew(-30deg);
  margin-right: -10px;
}
footer .footer .additional-footer .wrap-right-shape .rectangle {
  background-color: #1a73e8;
  width: 25%;
  height: 32px;
}
footer .footer .main-footer {
  background-color: #1a73e8;
  padding: 100px 0;
}
footer .footer .main-footer .container-custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}
footer .footer .main-footer .container-custom .footer-profile {
  width: 295px;
}
footer .footer .main-footer .container-custom .footer-profile img {
  height: 60px;
}
footer .footer .main-footer .container-custom .footer-profile p {
  color: white;
  margin-top: 24px;
  margin-bottom: 0;
}
footer .footer .main-footer .container-custom .footer-quick-links {
  width: 120px;
}
footer .footer .main-footer .container-custom .footer-quick-links p {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1;
  margin-top: 0;
  margin-bottom: 24px;
}
footer .footer .main-footer .container-custom .footer-quick-links ul {
  padding-left: 0;
  margin: 0;
}
footer .footer .main-footer .container-custom .footer-quick-links ul li {
  list-style-type: none;
  font-size: 16px;
  margin-bottom: 16px;
}
footer .footer .main-footer .container-custom .footer-quick-links ul li a {
  text-decoration: none;
  color: white;
}
footer .footer .main-footer .container-custom .footer-contact-us {
  width: 230px;
}
footer .footer .main-footer .container-custom .footer-contact-us p {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1;
  margin-top: 0;
  margin-bottom: 24px;
}
footer .footer .main-footer .container-custom .footer-contact-us ul {
  padding-left: 0;
  margin-top: 24px;
  margin-bottom: 0;
}
footer .footer .main-footer .container-custom .footer-contact-us ul li {
  list-style-type: none;
  font-size: 16px;
  color: white;
}
footer .footer .main-footer .container-custom .footer-contact-us ul li.location .wrap-location {
  margin-bottom: 16px;
  font-family: nunito, sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  align-items: center;
}
footer .footer .main-footer .container-custom .footer-contact-us ul li.location .wrap-location img {
  background-color: #ffc844;
  width: 25px;
  height: 25px;
  margin-right: 16px;
}
footer .footer .main-footer .container-custom .footer-contact-us ul li.phone .wrap-phone {
  margin-bottom: 16px;
  font-family: nunito, sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  align-items: center;
}
footer .footer .main-footer .container-custom .footer-contact-us ul li.phone .wrap-phone img {
  background-color: #ffc844;
  width: 25px;
  height: 25px;
  margin-right: 16px;
}
footer .footer .main-footer .container-custom .footer-contact-us ul li.email .wrap-email {
  margin-bottom: 16px;
  font-family: nunito, sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  align-items: center;
}
footer .footer .main-footer .container-custom .footer-contact-us ul li.email .wrap-email img {
  background-color: #ffc844;
  width: 25px;
  height: 25px;
  margin-right: 16px;
}
footer .footer .main-footer .container-custom .footer-social-media {
  width: 270px;
}
footer .footer .main-footer .container-custom .footer-social-media p.title {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1;
  margin-top: 0;
  margin-bottom: 20px;
}
footer .footer .main-footer .container-custom .footer-social-media p.paragraph {
  color: white;
  margin-top: 0;
  margin-bottom: 16px;
}
footer .footer .main-footer .container-custom .footer-social-media .wrap-social-media-icon img.instagram-icon {
  background-color: #ffc844;
  height: 25px;
  width: 25px;
  margin-right: 16px;
}
footer .footer .main-footer .container-custom .footer-social-media .wrap-social-media-icon img.facebook-icon {
  background-color: #ffc844;
  height: 25px;
  width: 25px;
  margin-right: 16px;
}
footer .footer .main-footer .container-custom .footer-social-media .wrap-social-media-icon img.youtube-icon {
  background-color: #ffc844;
  height: 25px;
  width: 25px;
}
footer .footer .copyright {
  background-color: #1a73e8;
  padding: 0 40px;
}
footer .footer .copyright .wrap-copyright {
  width: 100%;
}
footer .footer .copyright .wrap-copyright .line {
  border: 1px solid white;
  background-color: white;
  text-align: center;
  opacity: 0.5;
}
footer .footer .copyright .wrap-copyright p {
  color: white;
  text-align: center;
  padding: 16px 0;
}