.wrap-banner .banner-headline {
  width: 100%;
  text-align: center;
}
.wrap-banner .banner-headline h1 {
  color: white;
  margin-top: 0;
  margin-bottom: 8px;
}
.wrap-banner .banner-headline p {
  color: white;
  margin: 0;
}
@media (max-width: 576px) {
  .wrap-banner .banner-headline p {
    font-size: 14px;
  }
}

.card-experience {
  border: 0px solid transparent;
}
.card-experience .card-header {
  background-color: #fff;
}
.card-experience .wrap-card-header .logo-instansi {
  height: 65px;
}
@media (max-width: 576px) {
  .card-experience .wrap-card-header .logo-instansi {
    height: 50px;
  }
}
.card-experience .wrap-card-header h3 {
  margin-bottom: 4px;
}
@media (max-width: 576px) {
  .card-experience .wrap-card-header h3 {
    line-height: 24px;
  }
}
.card-experience .wrap-card-header p {
  margin-bottom: 0;
}
.card-experience .expand-button {
  color: #000d1e;
  font-size: 32px;
}
@media (max-width: 576px) {
  .card-experience .expand-button {
    font-size: 24px;
  }
}

.card-body .wrap-card-body {
  margin-bottom: 32px;
}
@media (min-width: 576px) and (max-width: 992px) {
  .card-body .wrap-card-body {
    margin-bottom: 16px;
  }
}
@media (max-width: 576px) {
  .card-body .wrap-card-body {
    margin-bottom: 8px;
  }
}
.card-body .wrap-card-body .image-documentation {
  max-width: 225px;
}
@media (min-width: 576px) and (max-width: 992px) {
  .card-body .wrap-card-body .image-documentation {
    max-width: 150px;
  }
}
@media (max-width: 576px) {
  .card-body .wrap-card-body .image-documentation {
    max-width: 175px;
  }
}