.wrap-banner .banner-headline {
  width: 100%;
  text-align: center;
}
.wrap-banner .banner-headline h1 {
  color: white;
  line-height: 56px;
  margin-top: 0;
  margin-bottom: 8px;
}
.wrap-banner .banner-headline p {
  color: white;
  width: 80%;
  margin: 0 auto;
}

.card-experience {
  border: 0px solid transparent;
}
.card-experience .card-header {
  background-color: #fff;
}
.card-experience .wrap-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-experience .wrap-header .company-profile {
  display: flex;
  align-items: center;
}
.card-experience .wrap-header .company-profile .company-logo img {
  background-color: #ffc844;
  height: 65px;
  width: 65px;
}
.card-experience .wrap-header .company-profile .company-name {
  margin-left: 16px;
}
.card-experience .wrap-header .company-profile .company-name h3 {
  color: #000d1e;
  margin-bottom: 0;
}
.card-experience .wrap-header .company-profile .company-name p {
  color: #000d1e;
  margin-bottom: 0;
  margin-left: 2px;
}
.card-experience .wrap-header .expand-button h2 {
  color: #000d1e;
}

.card-body {
  display: flex;
  justify-content: space-between;
}
.card-body img {
  background-color: #ffc844;
  height: 250px;
  width: 250px;
  margin-bottom: 32px;
}

.sample {
  max-width: 50px;
  width: 100%;
}