@import '../variable';

.wrap-banner{

  .banner-headline{
    width: 100%;
    text-align: center;

    h1{
      color: white;
      margin-top: 0;
      margin-bottom: 8px;
    }

    p{
      color: white;
      margin:0;

      @media (max-width: $custom-sm){
        font-size: 14px;
      }
    }
  }
}

.wrap-visi-misi-image{

  img{width: 100%;}

  .visi-misi-image-portrait{

    @media(max-width: $custom-sm){
      display: none;
    }
  }

  .visi-misi-image-landscape{

    @media(min-width: $custom-sm){
      display: none;
    }

    @media(max-width: $custom-sm){
      margin-bottom: 24px;
    }
  }
}

.wrap-visi-misi-content{

  h2{
    margin-bottom: 16px;

    @media (min-width: $custom-sm) and (max-width: $custom-lg){
      margin-bottom: 8px;
    }

    @media (max-width: $custom-sm){
      margin-bottom: 8px;
    }
  }

  ol{
    padding-left: 16px;

    li{
      line-height: 24px;
      margin-bottom: 16px;

      @media (min-width: $custom-sm) and (max-width: $custom-lg){
        margin-bottom: 8px;
      }

      @media (max-width: $custom-sm){
        margin-bottom: 4px;
      }
    }
  }

  .wrap-visi{
    margin-bottom: 32px;

    @media (min-width: $custom-sm) and (max-width: $custom-lg){
      margin-bottom: 32px;
    }

    @media (max-width: $custom-sm){
      margin-bottom: 24px;
    }
  }
}

.wrap-headline-keunggulan{
  text-align:center;

  h2{
    margin-top: 0;
    margin-bottom: 16px;

    @media(min-width: $custom-sm) and (max-width: $custom-lg){
      margin-bottom: 8px;
    }

    @media(max-width: $custom-sm){
      margin-bottom: 8px;
    }
  }

  p{margin-bottom: 0;}
}

.wrap-semua-keunggulan{
  margin-top: 40px;

  .icon-keunggulan{
    height: 100px;

    @media(max-width: $custom-sm){
      height: 75px;
    }
  }

  h3{
    margin-top: 32px;
    margin-bottom: 16px;

    @media (min-width: $custom-sm) and (max-width: $custom-lg){
      margin-top: 24px;
      margin-bottom: 8px;
    }

    @media (max-width: $custom-sm){
      margin-top: 16px;
      margin-bottom: 0;
    }
  }

  @media (min-width: $custom-sm) and (max-width: $custom-lg){
    margin-top: 32px;
  }

  @media (max-width: $custom-sm){
    margin-top: 32px;
  }
}

.wrap-newsletter{
  text-align: center;

  .newsletter-image{
    width: 100px;
    margin: 0 auto;

    @media(max-width: $custom-sm){
      width: 75px;
    }
  }

  h2{
    margin-top: 32px;
    margin-bottom: 16px;

    @media(min-width: $custom-sm) and (max-width: $custom-lg){
      margin-top: 24px;
      margin-bottom: 12px;
    }

    @media(max-width: $custom-sm){
      margin-top: 16px;
      margin-bottom: 8px;
    }
  }

  p{
    margin:0 auto;
    margin-bottom: 16px;
  }

  small{
    color: red;
  }

  .wrap-subscribe-submit{

    .input-subscribe-custom{
      display: inline-block;
      width: 25%;
      margin-right: 16px;

      @media(min-width: $custom-sm) and (max-width: $custom-lg){
        width: 40%;
      }

      @media(max-width: $custom-sm){
        display: block;
        width: 75%;
        margin: 0 auto;
        margin-bottom: 16px;
      }
    }

    .btn-subscribe-custom{
      font-family: nunito,sans-serif;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1;
    }
  }
}