@import '../variable';

.wrap-banner{

  .banner-headline{
    width: 100%;
    text-align: center;

    h1{
      color: white;
      line-height: 56px;
      margin-top: 0;
      margin-bottom: 8px;
    }

    p{
      color: white;
      width: 80%;
      margin:0 auto;
    }
  }
}

.wrap-contact-us-section{
  display: flex;
  justify-content: center;

  .google-maps{
    height: 456px;
    width: 456px;
    margin-right: 32px;
    border-radius: 3px;
  }

  .input-contact-us{
    border:1px solid #000d1e;
    width: 400px;
    margin-bottom: 16px;
    font-family: nunito,sans-serif;
    font-size: 16px;
  }

  .input-message{
    min-height: 200px;
    max-height: 200px;
    padding: 8px 16px;
    border-radius:3px;
  }

  .submit-contact-us{
    border:none;
    background-color:$kip-blue;
    width: 400px;
    font-family: nunito,sans-serif;
    font-size: 16px;
    font-weight: 700;
    color:white;
  }
}