@import '../variable';

.banner-headline{

  h1{
    color: white;
    line-height: 56px;
    margin-top: 0;
    margin-bottom: 8px;
  }

  p{
    color: white;
    margin:0;
  }
}

.banner-image-custom{
  width: 100%;
}

.wrap-about-us-section{
      text-align: center;

      p.tag-about-us{
        color:$kip-black;
        text-transform: uppercase;
        text-align: center;
        margin-top: 0;
        margin-bottom: 8px;
      }

      .block{
        background-color:$kip-black;
        height: 1px;
        max-width: 50px;
        margin:0 auto;
      }

      h2{
        color: $kip-black;
        text-align: center;
        margin:32px 0 16px 0;
      }

      p{
        color: $kip-black;
        line-height: 32px;
        margin-top: 0;
        text-align:center;
        padding:0;
        margin-bottom: 16px;
      }

      button.read-more{
        height: 48px;
        background-color:white;
        padding:8px 16px;
        border:1px solid $kip-black;
        border-radius: 3px;

        .wrap-button{
          display: flex;
          align-items:center;

          b{
            font-size: 16px;
            color: $kip-black;
            font-weight: 400;
          }


          img{
            height: 8px;
            margin-left: 5px;
            position: relative;

            &:before{
              position: absolute;
              left: 50px;
            }
          }
        }
      }
}

.our-services{background-color:$section-grey;}

.icon-service{
  height: 75px;
}



.wrap-our-experiences-section{

    h2{
      text-align: center;
      margin-top: 0;
      margin-bottom: 64px;
    }

    .wrap-slider-image{
      display: flex;
      justify-content: space-between;
      align-items:center;

      a{

        img{width: 25px;}
      }


      img.non-selected{
        height: 175px;
        width: 250px;
      }

      img.selected{
        height: 350px;
        width: 500px;
      }
    }

    .description{
      width: 500px;
      text-align: center;
      margin: 0 auto;

      h3{
        margin-top: 32px;
        margin-bottom: 8px;
      }

      p{
        margin-top: 0px;
        margin-bottom: 16px;
      }

      button.see-all-experiences{
        height: 48px;
        background-color:white;
        padding:8px 16px;
        border:1px solid $kip-black;
        border-radius: 3px;
        margin: 0 auto;

        .wrap-button{
          display: flex;
          align-items:center;

          b{
            font-size: 16px;
            color: $kip-black;
            font-weight: 400;
          }

          img{
            height: 8px;
            margin-left: 5px;
          }
        }
      }
    }
}
