@import '../variable';

.banner-headline{

  h1{
    color: white;
    margin-top: 0;
    margin-bottom: 8px;

    @media(max-width: $custom-sm){
      line-height: 40px;
    }
  }

  p{
    color: white;
    margin:0;
  }
}

.banner-image-custom{
  width: 100%;
}

.wrap-about-us-content{
  color:$kip-black;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 8px;

  .block{
    background-color:$kip-black;
    height: 1px;
    max-width: 50px;
    margin:0 auto;
  }

  h2{
    margin:16px 0;
    text-transform: none;
  }

  p{
    text-transform: none;
    line-height: 32px;
    margin-top: 16px;
    padding:0;
    margin-bottom: 16px;
  }
}

.our-services{
  background-color:$section-grey;

  .card-custom{
    border:none;
    background-color:transparent;
  }

  .card-body-custom{
    padding:0.5rem;
  }

  .card-footer-custom{
    border:none;
    background-color:transparent;
    padding:0 0.5rem;
  }


  h3{
    margin-top: 24px;
    margin-bottom: 8px;
  }
    
  .img-services-custom{
    width: 75px;
    margin:0 0.5rem;

    @media(min-width: $custom-sm) and (max-width: $custom-lg){
      margin:0 auto;
    }

    @media(max-width: $custom-sm){
      margin:0 auto;
    }
  }
}



.wrap-our-experiences-section{

    h2{
      text-align: center;
      margin-top: 0;
      margin-bottom: 64px;
    }

    .wrap-slider-image{
      display: flex;
      justify-content: space-between;
      align-items:center;

      a{

        img{width: 25px;}
      }


      img.non-selected{
        height: 175px;
        width: 250px;
      }

      img.selected{
        height: 350px;
        width: 500px;
      }
    }

    .description{
      width: 500px;
      text-align: center;
      margin: 0 auto;

      h3{
        margin-top: 32px;
        margin-bottom: 8px;
      }

      p{
        margin-top: 0px;
        margin-bottom: 16px;
      }

      button.see-all-experiences{
        height: 48px;
        background-color:white;
        padding:8px 16px;
        border:1px solid $kip-black;
        border-radius: 3px;
        margin: 0 auto;

        .wrap-button{
          display: flex;
          align-items:center;

          b{
            font-size: 16px;
            color: $kip-black;
            font-weight: 400;
          }

          img{
            height: 8px;
            margin-left: 5px;
          }
        }
      }
    }
}
