@import '../variable';

header{
  background-color: $kip-blue;
  background: url('../../../images/our-services-image/banner-kvsat.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;

  .wrap-banner{

    .banner-headline{
      width: 100%;
      text-align: center;

      h1{
        color: white;
        margin-top: 0;
        margin-bottom: 8px;
        text-shadow: 0px 2px rgba(0, 0, 0, 0.5);
      }

      p{
        color: white;
        margin:0;

        @media (max-width: $custom-sm){
          font-size: 14px;
        }
      }
    }
  }
}

.wrap-prolog-image{

  img{width: 100%;}

  .prolog-image-portrait{

    @media(max-width: $custom-sm){
      display: none;
    }
  }

  .prolog-image-landscape{

    @media(min-width: $custom-sm){
      display: none;
    }

    @media(max-width: $custom-sm){
      margin-bottom: 24px;
    }
  }
}

.wrap-prolog-content{

  h2{
    margin-bottom: 16px;

    @media (min-width: $custom-sm) and (max-width: $custom-lg){
      margin-bottom: 8px;
    }

    @media (max-width: $custom-sm){
      margin-bottom: 8px;
    }
  }

  ul{
    padding-left: 20px;

    li{
      line-height: 24px;
      margin-bottom: 16px;

      @media (min-width: $custom-sm) and (max-width: $custom-lg){
        margin-bottom: 8px;
      }

      @media (max-width: $custom-sm){
        margin-bottom: 4px;
      }
    }
  }
}

.wrap-headline-keunggulan{
  text-align:center;

  h2{
    margin-top: 0;
    margin-bottom: 16px;

    @media(min-width: $custom-sm) and (max-width: $custom-lg){
      margin-bottom: 8px;
    }

    @media(max-width: $custom-sm){
      margin-bottom: 8px;
    }
  }

  p{margin-bottom: 0;}
}

.wrap-semua-keunggulan{
  margin-top: 40px;

  .icon-keunggulan{
    height: 100px;

    @media(max-width: $custom-sm){
      height: 75px;
    }
  }

  h3{
    margin-top: 32px;
    margin-bottom: 16px;

    @media (min-width: $custom-sm) and (max-width: $custom-lg){
      margin-top: 24px;
      margin-bottom: 8px;
    }

    @media (max-width: $custom-sm){
      margin-top: 16px;
      margin-bottom: 0;
    }
  }

  @media (min-width: $custom-sm) and (max-width: $custom-lg){
    margin-top: 32px;
  }

  @media (max-width: $custom-sm){
    margin-top: 32px;
  }
}

.free-consultation{

  .wrap-free-consultation-headline{

    h2{
      margin-top: 0;
      margin-bottom: 16px;

      @media(max-width: $custom-sm){
        margin-top: 16px;
        margin-bottom: 8px;
      }
    }

    p{
      margin-top: 0;
      margin-bottom: 16px;
    }
  }

  .wrap-free-consultation-image{

    img{
      height: 250px;

      @media(min-width: $custom-sm) and (max-width: $custom-lg){
        height: 150px;
      }

      @media(max-width: $custom-sm){
        height: 100px;
      }
    }
  }
}

.additional-footer{
  background-color: $section-grey;
}

