@import '../variable';

.wrap-banner{

  .banner-headline{
    width: 100%;
    text-align: center;

    h1{
      color: white;
      line-height: 56px;
      margin-top: 0;
      margin-bottom: 8px;
    }

    p{
      color: white;
      width: 80%;
      margin:0 auto;
    }
  }
}