@import '../variable';

.wrap-banner{

  .banner-headline{
    width: 100%;
    text-align: center;

    h1{
      color: white;
      margin-top: 0;
      margin-bottom: 8px;
    }

    p{
      color: white;
      margin:0;

      @media (max-width: $custom-sm){
        font-size: 14px;
      }
    }
  }
}

.card-experience{
  border: 0px solid transparent;

  .card-header{
    background-color: #fff;
  }

    .wrap-card-header{

      .logo-instansi{
        height: 65px;

        @media(max-width: $custom-sm){
          height: 50px;
        }
      }

      h3{
        margin-bottom: 4px;

        @media(max-width: $custom-sm){
          line-height: 24px;
        }
      }

      p{margin-bottom: 0;}
      }

      .expand-button{
        color: $kip-black;
        font-size: 32px;

        @media(max-width: $custom-sm){
          font-size: 24px;
        }
      }
    }

    .card-body{

      .wrap-card-body{
        margin-bottom: 32px;

        @media(min-width: $custom-sm) and (max-width: $custom-lg){
          margin-bottom: 16px;
        }

        @media(max-width: $custom-sm){
          margin-bottom: 8px;
        }

        .image-documentation{
          max-width: 225px;

          @media(min-width: $custom-sm) and (max-width: $custom-lg){
            max-width: 150px;
          }

          @media(max-width: $custom-sm){
            max-width: 175px;
          }
        }
      }
    }
