@import '../variable';

.wrap-banner{

  .banner-headline{
    width: 100%;
    text-align: center;

    h1{
      color: white;
      line-height: 56px;
      margin-top: 0;
      margin-bottom: 8px;
    }

    p{
      color: white;
      width: 80%;
      margin:0 auto;
    }
  }
}

section{

  .prolog{
    padding:100px 0;

    .prolog-section{
      display: flex;
      align-items:center;

      .prolog-headline{
        width: 50%;

        h2{
          margin-top: 0;
          margin-bottom: 24px;
        }

        p{
          margin:0;
          text-align: justify;
        }
      }

      .prolog-image{
        width: 50%;
        display: flex;
        justify-content: flex-end;

        .image{
          background-color:$kip-yellow;
          height: 650px;
          width: 500px;
        }
      }
    }
  }

  .list-apps{
    padding:100px 0;
    background-color:$section-grey;

    .wrap-list-apps-section{
      text-align: center;

      h2{
        margin-top: 0;
        margin-bottom: 16px;
      }

      p{
        margin:0 auto;
        width: 80%;
      }

      .wrap-semua-apps{
        display: flex;
        justify-content: space-between;
        margin-top: 64px;

        .apps-1,.apps-2,.apps-3{
          width: 30%;
          text-align:center;

          .image{
            background-color:$kip-yellow;
            height: 100px;
            width: 100px;
            margin: 0 auto;
          }

          h3{margin: 32px 0 16px 0;}
        }
      }
    }
  }

  .free-consultation{
    padding:100px 0;
  }

    .wrap-free-consultation-section{
    display: flex;
    align-items:center;
    justify-content: space-between;

    .wrap-headline{
      width: 50%;

      h2{
        margin-top: 0;
        margin-bottom: 16px;
      }

      p{
        margin-top: 0;
        margin-bottom: 16px;
      }

      button.free-consultation{
        height: 48px;
        background-color:$kip-blue;
        padding:8px 16px;
        border:none;
        border-radius: 3px;
        margin: 0 auto;

        .wrap-button{
          display: flex;
          align-items:center;

          b{
            font-size: 16px;
            color: white;
            font-weight: 700;
            text-transform: uppercase;
          }

          
          img{
            height: 8px;
            margin-left: 5px;
            color: white;
          }
        }
      }
    }

    .wrap-image{

      .image{
        background-color:$kip-yellow;
        height: 250px;
        width: 250px;
      }
    }
  }
}