@import '../variable';

header{
  background-color: $kip-blue;
  background: url('../../../images/our-services-image/zam-images/GoogleHangoutsMeeting.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .wrap-banner{

    .banner-headline{
      width: 100%;
      text-align: center;

      h1{
        color: white;
        margin-top: 0;
        margin-bottom: 8px;
      }

      p{
        color: white;
        margin:0;

        @media (max-width: $custom-sm){
          font-size: 14px;
        }
      }
    }
  }
}

.row-brand-logo-custom{

  .image-zam-brand{
    max-width: 125px;
    max-height: 75px;

    @media (min-width: $custom-sm) and (max-width: $custom-lg){
      max-width: 100%;
    }

    @media (max-width: $custom-sm){
      max-width: 75px;
      max-height: 50px;
    }
  }
}

.image-solusi-zam{
  max-width: 100%;
  border-radius: 5px;
}

.col-custom{
  max-width: 100%;
  position: relative;

  .img-target-market-custom{
    max-width: 100%;
    border-radius: 5px;
  }

  .caption-custom{
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    border-radius: 0 0 5px 5px;
    padding: 8px 16px;
    width: 255px;
    text-align: center;

    @media (min-width: $custom-sm) and (max-width: $custom-lg){
      width: 150px;
      font-size: 14px;
      padding: 8px;
    }

    @media (max-width: $custom-sm){
      width: 182.5px;
      padding: 0;
    }
  }

}

.free-consultation{

  .wrap-free-consultation-headline{

    h2{
      margin-top: 0;
      margin-bottom: 16px;

      @media(max-width: $custom-sm){
        margin-top: 16px;
        margin-bottom: 8px;
      }
    }

    p{
      margin-top: 0;
      margin-bottom: 16px;
    }
  }

  .wrap-free-consultation-image{

    img{
      height: 250px;

      @media(min-width: $custom-sm) and (max-width: $custom-lg){
        height: 150px;
      }

      @media(max-width: $custom-sm){
        height: 100px;
      }
    }
  }
}

.additional-footer{
  background-color: $section-grey;
}